@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.dropdown {
    &.labelChange {
        label {
            color: #586162;
            letter-spacing: -0.28px;
            font-weight: 400;
        }
    }

    label {
        color: #0E121B;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: block;
        padding: 0 0 8px 0;
    }

    .errorMsg {
        color: #E53935;
        font-size: 12px;
        font-weight: 500;
        margin: 4px 0 0 0;
        line-height: 1.4;
    }
}