@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.dashboardPage {
    padding: 14px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

    @include respond-to("tab") {
        padding: 14px 20px;
        gap: 16px;
    }

    @include respond-to("sm") {
        padding: 10px 12px;
        gap: 12px;
    }
}