@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.dashboardPage {
    padding: 14px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    h1 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #020204;
        margin: 0;
    }

    p {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: #6B7280;
        margin: 0;
    }
}