@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.cardListAlignment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }

        .column {
            display: flex;
            flex-direction: column;
            gap: 12px;
            height: 100%;
        }

        .balanceWrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 100%;
        }

        .whiteFillBox {
            border-radius: 12px;
            border: 1px solid var(--Black-500, #F5F5F5);
            background: var(--Black-600, #FFF);
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            height: 100%;
            min-height: 652px;
            box-sizing: border-box;
        }
    }
}