@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.outlinebox {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 12px;
    padding: 20px;

}