@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.kycpending {
    border-radius: 12px;
    border: 1px solid #E9E9E9;
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 12px;
    align-items: center;
    background: #FFF;
    padding: 16px;

    h2 {
        color: #2C3333;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        margin: 0 0 4px 0;
        line-height: 24px;
    }

    p {
        color: #586162;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
}